
body{
    background-image: linear-gradient(80deg,blue,green);
    background-size: cover;
    text-align:center;
    place-items:center;
    height:100%;
}

.foam{ margin-top:100px;
       text-align:center;
       border :2px solid #e6dedeec;
       background:transparent; 
       width:200px;
       float:center;
       border-radius:10px;
       box-shadow:0 0 0 3px #000000;
       
}

     button{
    margin-bottom: 10px;
    border-radius: 10px;
    background: midnightblue;
    width: 40%;
    justify-content: center;
    border: none;
    transition-duration: 04s;
   }
   button:hover{
    background-color: aliceblue;
    transform: circle;
   }
   input{
    background: transparent;
    border: 1px solid #000000;
    border-radius: 10px;

   }
